.post_list {
    width: 50%;
    height: auto;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_list_details {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    padding: 20px;
}

.post_list_details img {
    width: 350px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
}

.post_list_details {
    margin-left: 20px;
    font-size: 17px;
    color: gray;
}

.post_list_details h4 {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.price {
    color: green;
    font-size: 20px;
    font-weight: 800;
}

.location {
    color: blue;
    font-size: 20px;
    font-weight: 700;
}

.location_title {
    margin-left: 20px;
}

.area {
    font-size: 22px;
    color: black;
}

@media (max-width: 768px) {
    .post_list_details {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .post_list_details img {
        width: 100%; 
        height: auto; 
    }

    .post_list_details div {
        margin-left: 0; 
    }

    .price, .location, .area {
        font-size: 16px; 
    }

    .post_list_details h4 {
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .price, .location, .area {
        font-size: 14px; 
    }

    .post_list_details h4 {
        font-size: 16px; 
    }
}